{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail view</title>

    <link rel="stylesheet" href="{%static 'main/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'main/css/boot.css'%}">
    <style>

        body{
            text-align: center;
        }

    </style>

</head>
<body>
    
<div class="container">

    <img class="max200" src="{{queryset.thumbnail.url}}" alt="{{queryset.caption}}">
    <h1>{{queryset.title}}</h1>
    <br>
    <h2>{{queryset.caption}}</h2>
    <br>
    <h2>{{queryset.detail}}</h2>
    <br>
    <h3>{{queryset.price}}</h3>
</div>
</body>
</html>